@model Materials_storage_subsystem.Models.MoveRequest

@{
    ViewData["Title"] = "MoveRequestEdit";
    Layout = "_LayoutManager";
}

<h1>MoveRequestEdit</h1>

<h4>MoveRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MoveRequestEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>From Warehouse</label>
                <select asp-for="FromWarehouseId" class="form-control" asp-items="ViewBag.WarehousesId"></select>
                <span asp-validation-for="FromWarehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>To Warehouse</label>
                <select asp-for="ToWarehouseId" class="form-control" asp-items="ViewBag.WarehousesId"></select>
                <span asp-validation-for="ToWarehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Material</label>
                <select asp-for="MaterialId" class="form-control">
                    @foreach (var id in ViewBag.Materials.Items)
                    {
                        <option value="@id.Id">@id.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MoveRequestsList">Back to List</a>
</div>

